{% extends "frontend/layouts/main.html" %}

{% block content %}

<!-- include header -->
{% include "frontend/layouts/header.html" %}

<!-- content here -->
<div class="container" style="height: 100%;">
    <h1>index_page</h1>
    <br>
    <h4>keywords in workshop1</h4>
    <br>
    <p>file or folder</p>
    <a href="" class="btn btn-secondary">settings</a>
    <a href="" class="btn btn-secondary">urls</a>
    <a href="" class="btn btn-secondary">models</a>
    <a href="" class="btn btn-secondary">views</a>
    <br>
    <br>
    <p>frontend</p>
    <a href="" class="btn btn-info">extends</a>
    <a href="" class="btn btn-info">block content</a>
    <a href="" class="btn btn-info">include</a>
    <a href="" class="btn btn-info">context</a>
    <a href="" class="btn btn-info">form</a>
    <a href="" class="btn btn-info">csrf_token</a>
    <a href="" class="btn btn-info">if</a>
    <a href="" class="btn btn-info">for</a>
    <br>
    <br>
    <p>backend</p>
    <a href="" class="btn btn-warning">models</a>
    <a href="" class="btn btn-warning">makemigrations</a>
    <a href="" class="btn btn-warning">migrate</a>
    <br>
    <br>
    <p>Django syntax</p>
    <a href="https://docs.djangoproject.com/en/4.0/" class="btn btn-success">https://docs.djangoproject.com/en/4.0/</a>
</div>

<!-- include footer -->
{% include "frontend/layouts/footer.html" %}

{% endblock %}